@model List<AppUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-sm table-hover">
    <tr>
        <td>Kullanici Adı</td>
        <td>Rol Islemleri</td>
        <td>Roller</td>
    </tr>

    @if (Model.Count <= 0)
    {
        <tr>
            <td>Sistemde kayitli rol bulunamadi.</td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <showrole user-id="@item.Id"></showrole>
                </td>
                <td>
                    <a asp-action="AssignRole" asp-route-id="@item.Id" class="btn btn-outline-warning btn-sm">Rol Ata</a>
                    <a asp-action="AddClaim"asp-route-id="@item.Id" class="btn btn-outline-info btn-sm" asp-controller="Female">Bayan Claim Ekle</a>
                </td>
            </tr>
        }
    }

</table>